/*************************************************
  Imports
*************************************************/

@import url(https://fonts.googleapis.com/css?family=Lato:400,300,100,700);

/*************************************************
  Common Elements
*************************************************/

/* Foundation Overrides */
.columns {
    padding: 0;
}

/* Root */
html {
    font-size: 70%;
}

/* Body */
body {
    background: #111111;
    color: #cccccc;

    /* -webkit-font-smoothing: antialiased; */
    /* font-smoothing: antialiased; */
    text-rendering: optimizeLegibility;

    font-family: "Lato", "Helvetica", sans-serif;
    line-height: 2rem;

}

/* Elements */
h1, h2, h3, h4, h5, h6 {
    color: #222222;
    font-family: "Lato", "Helvetica", sans-serif;
    font-weight: 700;
}

/* Links */
a:link, a:visited {
        text-decoration: none;
        color: #BE1623;
    transition-property: color;
    transition-duration: 0.5s;
}
a:hover {
    color: #000;
}

/* Lists */
ul, ol {
    margin: 10px 20px;
    padding: 0 20px;
}
ul {
    list-style: disc;
}
ol {
    list-style: decimal;
}

/* Images */
img {
    border: 0px;
}

/* Text stuff */
dt {
    font-weight: bold;
    color: #7BA857;
}
dd {
    padding-left: 25px;
}
p, dl {
    xpadding: 10px 15px;
    line-height: 1.7rem;
}
code {
    border: initial;
    background: initial;

    margin: 10px 0;
    padding-left: 10px;
    text-align: left;
    display: block;
    overflow: auto;
    font: 'Lucida Console', 'Courier New', Monospace ;
    font-size: 10px;
    border-left: 1px solid #F0F0F0;
}
acronym {
    cursor: help;
    border-bottom: 1px dotted #895F30;
}
blockquote {
    border: initial;
    background: initial;

    margin: 10px 0;
    padding-left: 10px;
    border-left: 1px solid #F0F0F0;
    display: block;
    font-style: italic;
    font-family: "Vollkorn", serif;
}

input {
    width: 100%;
}

textarea {
    width: 100%;
}

/*************************************************
  Common containers and tilers
*************************************************/

.j-container {
    padding: 20px;
}

.j-container img {
    max-width: 100%;
}

.j-tiler .j-container {
    max-height: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.j-max-width {
    margin-left: auto;
    margin-right: auto;
    max-width: 640px;
}

/*************************************************
  Main objects
*************************************************/

header.j-alpha,
footer.j-alpha {

}

header.j-alpha a,
footer.j-alpha a{
    color: #aaaaaa;
}

header.j-alpha a:hover,
footer.j-alpha a:hover{
    color: #ffffff;
}

header.j-alpha {
}

header.j-alpha .title {
    color: #ffffff;
    font-weight: 300;
}

header.j-alpha .subtitle {
}

nav.j-alpha {
}

nav.j-alpha.j-horizontal a::after {
    content: " ·";
    padding-left: .2rem;
    padding-right: .2rem;

}

nav.j-alpha.j-horizontal a:last-child::after {
    content: "";
}

nav.j-alpha.j-vertical a {
    display: block;
}

nav.j-alpha.j-social {
}

nav.j-alpha.j-social a img {
    width: 16px;
    height: 16px;
    opacity: 0.1;
    transition-property: opacity;
    transition-duration: 0.5s;
}

nav.j-alpha.j-social a:hover img {
    opacity: 1;
}

nav.j-alpha.j-bigicons {
}

nav.j-alpha.j-bigicons a {
}

nav.j-alpha.j-bigicons a img {
    width: 32px;
    height: 32px;
    margin: 8px;
    opacity: 0.3;
    transition-property: opacity;
    transition-duration: 0.5s;
}

nav.j-alpha.j-bigicons a img fill {

}

nav.j-alpha.j-bigicons a div {
    opacity: 0;
    transition-property: opacity;
    transition-duration: 0.5s;
}

nav.j-alpha.j-bigicons a:hover * {
    opacity: 1;
}

footer.j-alpha {
    padding-top: 1rem;
}

footer.j-alpha .j-social {
    margin-top: 2rem;
}

footer.j-alpha .j-schemaline {
    opacity: 0.3;
    margin-top: 12%;
    font-size: 0.5rem;
    font-weight: 100;
    line-height: 1.2rem;
    padding-left: 10%;
    padding-right: 10%;
}

footer.j-alpha .j-schemaline .part {
    display: inline-block;
    padding-right: 0.5rem;
}

main.j-alpha {
    background: #ffffff;
    color: #444444;
}

article.j-alpha {
}

article.j-alpha header {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

article.j-alpha section.j-article-content {
}

article.j-alpha footer {

}

article.j-mini-article {
}

article.j-mini-article a {
    display: inline;
}

article.j-mini-article aside {
    display: inline;
    color: #dddddd;
}

/*************************************************
  Welcome
*************************************************/

main.j-welcome {
    background: #000000;
    color: #ffffff;
    position: relative;

    background-image: url("background.jpg");
    background-size: cover;
    background-position: center center;

    min-height: 100%;

    padding-top: 0;
    padding-bottom: 7%;
    padding-left: 7%;
    padding-right: 7%;
}

main.j-welcome a {
    color: #ffffff;
}

main.j-welcome section {
    padding-top: 10%;
}

main.j-welcome section.j-nametag {
    font-family: "Lato", "Helvetica", sans-serif;
    font-weight: 300;
    line-height: 3.5rem;
}

main.j-welcome section.j-nametag .line-1 {
    display: block;
    font-size: 1.5rem;
}

main.j-welcome section.j-nametag .line-2 {
    display: block;
    font-size: 3rem;
}

main.j-welcome section.j-tagline {
    opacity: 0.6;
    padding-left: 20%;
    padding-right: 20%;
}

main.j-welcome section.j-tagline .parts .part {
    display: inline-block;
    padding-left: 0.5rem;
}
